body{
    background:rgb(210, 242, 59);
    padding-bottom: 20px;
}
h1{
    text-align: center;
    color:black;
    font-size: 50px;
    font-family: 'Audiowide', sans-serif;
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    margin-bottom: -5px;
}
h2{
    text-align: center;
    margin-top: 0;
    color:black;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Audiowide', sans-serif;
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    margin-bottom: 20px;
}
.container
{
   display: grid;
   justify-content: center;
   grid-template-columns: 150px 150px 150px  150px;
   row-gap: 25px;
   column-gap: 60px;
  
    
}

.site
{
    /*background: #00ffa0;*/
    
    background: rgb(245, 245, 233);
    width:160px;
    height: 120px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    border:1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:15px;
    padding-bottom: 0px;;
    border-radius: 2rem;
    border-radius: 1rem;
    border: 0.5vmin solid #05060f;
    box-shadow: 0.4rem 0.4rem #05060f;
    color: black;
    position: relative;
    font-family: 'Audiowide', sans-serif;
    font-size: 15px;
    font-weight: 100;
}
.site h1
{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: -10px;
}

img{
    width:40px;
    padding-bottom: 5px;
    
}
.icons
{
    position: absolute;
    bottom: 2px;
    right:5px;
    color: black;
}
.icons:hover
{
    color:green;
}



@media only screen and (max-width: 600px) 
{
    h1
    {
        line-height: 90%;
        margin-bottom: 20px;;
    }
    .container
    {
        display:flex;
        flex-direction: column;
        align-items: center;

    }

    .site
    {
        width: 80%;
        height: auto;
    }
}